:root{
    --primary-color: #ff7e01;
    --secon-color: #faa935;
    --heading-color:#0b0b0c;
    --text-color : #f2f3f7;
    --sectext-color:#d5d5d6;
  
  }


.service_item{
    padding: 1rem;
    border-bottom: 1px solid #faa83586;
    border-right: 1px solid #faa83586;
    border-radius: 0.5rem;
}
.service_img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50px ;
    background: var(--secon-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.service_item h5 , .service_item p{
    color: var(--sectext-color);
}
.service_img img {
    width: 100%; /* Ensures the image fits within the container */
    height: auto; /* Maintains aspect ratio */
   background-color: var(--secon-color); /* Ensures the image itself is round */
}