/* Custom styles for React Slick dots */

:root{
    --primary-color: #ff7e01;
    --secon-color: #faa935;
    --heading-color:#0b0b0c;
    --text-color : #f2f3f7;
    --sectext-color:#d5d5d6;
  
  }




.slick-dots li button:before {
    color:var(--text-color);
    text-shadow: 2px 2px 4px rgba(180, 176, 176, 0.5);
    font-size: 10px;  /* Change this to your desired color */
  }
  
  .slick-dots li.slick-active button:before {
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(249, 158, 46, 0.5);
    font-size: 14px;  /* Change this to your desired active dot color */
  }
  

  .testimonial p{
    font-weight: 200;
  }

  .test_img{
    width: 100px; 
  height: 100px; 
  object-fit: cover; 
  border-radius: 50%; 
  }